@model PagedList.IPagedList<TTPShop.Models.DanhMuc>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="home-section">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Danh mục sản phẩm</b></h2></div>
                    <div class="col-sm-4">
                        <a href="@Url.Action("Create")" class="btn btn-info add-new"><i class="fa fa-plus"></i> Thêm </a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered danhmuc-col" id="table-user">
                <thead>
                    <tr>
                        <th class="text-center">
                            <span>Tên danh mục</span>
                        </th>
                        <th class="text-center">
                            <span>Ảnh danh mục</span>
                        </th>
                        <th class="text-center">
                            <span>Thiết lập</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenDM)
                            </td>
                            <td class="text-center">
                                @{
                                    string ImagePath = "~/Areas/Admin/Assets/images/" + item.AnhDM;
                                }
                                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" alt="Alternate Text" />
                            </td>
                            <td class="text-center align-middle">
                                <a href="@Url.Action("Details", new { id = item.MaDM })" class="edit btn btn-edit" title="Chi tiết" data-toggle="tooltip"><i class="bx bx-detail"></i></a>
                                <a href="@Url.Action("Edit", new { id = item.MaDM })" class="edit btn btn-edit" title="Sửa" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>

                                <a href="@Url.Action("Delete", new { id = item.MaDM })" data-toggle="tooltip" class="delete btn btn-link btn-delete" title="Xóa"><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

Trang @(Model.PageCount <Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))